<div class="container">
    <h1 class="header">My Tasks</h1>
  <div class="tasks">
    <% @tasks.each do |task| %>
    <h4><%= check_box_tag :completed, 0, task.completed%><%= link_to task.title, task_path(task.id)%> </h4>
    <p><%= link_to delete_path(task.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
      <i class="far fa-trash-alt"></i>
        <% end %>
    </p>
    <% end %>
  </div>

  <%= link_to "New Tasks",  tasks_new_path %>
</div>


